.logo{
width: 13%;
height: 8%;
position: absolute;
padding-left: 8%;
}
.snip1135 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  padding-top: 15px;
  margin-left: 15%;
}
.snip1135 * {
  box-sizing: border-box;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
margin-right: 6.9%;
}
.snip1135 a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #bb0a1e;
}
.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  color: white;
  word-wrap: break-word;
  outline: none;
  font-family: Century Gothic ;
  color: #FFFFFF;
}
body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #0B0513;
}
.headed{
background-color: #1D1C1C;
height: 77px;  
width: 100%;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 50px;
}
.zakrep{
background-color: #C3596C; 
width: 250px;
border: 3px solid #C3596C;
height: 30px;
position: fixed;
border-radius: 15px;
bottom:0;
right:0;
}
.textet{
margin-top: 4px;
}
.inst, .wts, .vk{
background-color: #C3596C; 
position: absolute;
margin-top: -2px;
margin-left: 4px;
width: 25px;
height: 25px;
}
.wts{
margin-left: 35px;
}
.vk{
margin-left: 70px;
}

.akcii {
  display: flex;
  justify-content: center;
}

.lvl {
  background-color: #251935;
  border-radius: 24px;
  width: 23%;
  height: 470px;
  margin-right: 30px;
  margin-top: 100px;
}
.container {
  width: 85%;
  margin: 0 auto;
}

.lvl p {
  width: 90%;
  margin-left: 15px;
  font-size: 22px;
  text-align:center;
}
.photo{
width: 100%;
border-radius: 25px;
}
h2{
text-align: center;
margin-bottom: 30px;
font-size: 25px;
}